<a href="https://colab.research.google.com/github/nisanisa-22/MODUL-1/blob/main/ptaktik_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello word")

hello word

In [2]:
x = 10
if x > 5:
 print("x lebih besar dari 5")

x lebih besar dari 5

In [3]:
x = 10
if x > 15:
 print("x lebih besar dari 15")
elif x > 5:
 print("x lebih besar dari 5 tetapi kurang dari atau sama dengan 15")
else:
 print("x kurang dari atau sama dengan 5")

x lebih besar dari 5 tetapi kurang dari atau sama dengan 15

In [4]:
x = 3
if x > 15:
 print("x lebih besar dari 15")
elif x > 5:
 print("x lebih besar dari 5 tetapi kurang dari atau sama dengan 15")
else:
 print("x kurang dari atau sama dengan 5")

x kurang dari atau sama dengan 5

In [6]:
nama = input("Masukkan nama Anda: ")
print("Halo, " + nama + "!")

Masukkan nama Anda: anisa
Halo, anisa!

In [8]:
nama = "Budi"
umur = 20
print("Nama saya " + nama + " dan saya berumur " + str(umur) + "tahun.")

Nama saya Budi dan saya berumur 20tahun.

In [10]:
umur = int(input("Masukkan umur Anda: "))
tinggi = float(input("Masukkan tinggi Anda dalam meter: "))
print("Anda berumur " + str(umur) + " tahun dan tinggi Anda " + str(tinggi)
+ " meter.")

Masukkan umur Anda: 20
Masukkan tinggi Anda dalam meter: 158
Anda berumur 20 tahun dan tinggi Anda 158.0 meter.

In [17]:
nama_depan = "Alice"
nama_belakang = "Smith"
# Penggabungan string
nama_lengkap = nama_depan + " " + nama_belakang # "Alice Smith"
# Pengulangan string
ulang = nama_depan * 3 # "AliceAliceAlice"
# Mengambil karakter
karakter_pertama = nama_depan[0] # "A"
karakter_terakhir = nama_depan[-1] # "e"
# Panjang string
panjang = len(nama_depan) # 5